<!-- about.html -->
{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>About Us</h1>
    <p>This blog was created by Hardik Garg.</p>
    <div class="details">
        <p>Name: Hardik Garg</p>
        <p>Email: <a href="mailto:garg2003hardik@gmail.com">garg2003hardik@gmail.com</a></p> 
        <p>Phone: 8302610881</p>
    </div>  
    <p>This blog was created as a learning project to learn about web development using Flask and MongoDB.</p>
    <p>The main aim of this blog is to share knowledge and help others learn.</p>
</div>
{% endblock content %}
